@media only screen and (max-width: 1600px){
    .entete
    {

        h1
        {
            @include absolute(auto, auto, 150px, 110px);
            color : white;
            font-size: 4.2rem;
            font-weight: 900;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.53);
        }
    }
    .explications
    {
        .ronds
        {
            .rondtxt
            {
                .rond
                {
                    height : 330px;
                    width : 330px;

                }
            }
        }
    }
}
@media only screen and (max-width: 1440px){
    .c
    {
        height : 80px;
    }
    .entete
    {

        h1
        {
            @include absolute(auto, auto, 120px, 110px);
            font-size: 3.7rem;
            font-weight: 900;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.53);
        }
        .twoBtn
        {
            a
            {
                div
                {
                    position: relative;
                    background-color: $orange;
                    height : 70px;
                    width : 300px;
                    border-radius: 8px;
                    transition: .3s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .5s;
                    overflow: hidden;
    
                    p
                    {
                        text-align: center;
                        color : white;
                        font-style: italic;
                        font-weight: 600;
                        font-size: 1.4rem;
                        transition: .3s;
                        margin : 0;
                        z-index: 30;
                        position : relative;
                        transition: .3s;
                    }
                }
                div::before
                {
                    content : "";
                    position : absolute;
                    z-index: 0;
                    top : 0;
                    
                    width : 8%;
                    height : 100%;
                    background-color: rgb(255, 202, 57);
                    transform: skew(-17deg);
                }
                div::after
                {
                    content : "";
                    position : absolute;
                    z-index: 0;
                    top : 0;
                    
                    width : 14%;
                    height : 100%;
                    background-color: rgb(255, 202, 57);
                    transform: skew(-17deg);
                }
            }
            a:hover
            {
                text-decoration: none;
            }
        }
    }
    .explications
    {
        .ronds
        {
            .rondtxt
            {
                .rond
                {
                    height : 330px;
                    width : 330px;

                }
            }
        }
    }
    .besoin
    { 
        .categoriesBesoin
        {
            width : 80%;
            margin : 0 10% 60px 10%;
            form
            {
                button
                {
                    font-size: .9rem;
                }
            }
        }
        .annoncesB
        {       
            width : 80%;        
            margin : 0 10% 60px 10%;
        }
    }
    .peutetre
    {
        .catPeutetre
        {
            width : 80%;
            margin : 0 10% 60px 10%;
            form
            {
                button
                {
                    font-size: .9rem;
                }
            }
        }
        .annoncesP
        {       
            width : 80%;        
            margin : 0 10% 60px 10%;
        }
    }
}


@media only screen and (max-width: 1280px){
   .c
    {

        a
        {
            img
            {
                height : 70px;
            }
        }
        ul
        {
            li:nth-child(1)
            {          
                a
                {

                    margin-right: 20px;
                }
            }
        }
    }
    .explications
    {
        .ronds
        {
            .rondtxt
            {
                height : 550px;
                width : 280px;
                .rond
                {
                    height : 280px;
                    width : 280px;
                }
            }
        }
    }
    .besoin
    { 
        .annoncesB
        {       
            .annonce
            {
                width : 160px;
                height : 370px;
            }
        }
    }
    .peutetre
    { 
        .annoncesP
        {       
            .annonce
            {
                width : 160px;
                height : 370px;
            }
        }
    }
}


//ipad
@media only screen and (max-width: 1024px){
    .c
    {

        a
        {
            img
            {
                height : 70px;
            }
        }
        ul
        {
            li:nth-child(1)
            {          
                margin-right: 0px;
                width : 300px;
            }
        }
    }
    .entete
    {
        height : 70vh;
    }
    .explications
    {
        .ronds
        {
            flex-direction: column;
            .rondtxt
            {               
                @include flex(column, center, center);
                height : auto;
                width : auto;
                .rond
                {
                    height : 300px;
                    width : 300px;
                }
                p
                {
                    padding : 0;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    font-size: 1.5rem;
                }
            }
        }
    }
    .besoin
    {
        .ligneBleue
        {
            h3
            {
                text-align: center;
            }
        }
        .categoriesBesoin
        {
            width : 58%;
            flex-wrap: wrap;
            height : 170px;
            margin : 0 21% 60px 21%;
        }
        .annoncesB
        {       
            width : 58%;        
            margin : 0 21% 60px 21%;
            flex-wrap: wrap;

            .annonce
            {
                height : 300px;
                width : 200px;
                margin-bottom: 20px;
            }
        }
    }
    .peutetre
    {
        padding-bottom: 100px;
        .ligneBleue
        {
            h3
            {
                text-align: center;
            }
        }
        .catPeutetre
        {
            width : 58%;
            flex-wrap: wrap;
            height : 170px;
            margin : 0 21% 60px 21%;
        }
        .annoncesP
        {       
            width : 58%;        
            margin : 0 21% 60px 21%;
            flex-wrap: wrap;

            .annonce
            {
                height : 300px;
                width : 200px;
                margin-bottom: 20px;
            }
        }
    }
    footer
    {
        img
        {
            right : -15% !important;
        }
    }
}
//mobile
@media only screen and (max-width: 800px)
{
    .menubtn
    {
        display: block;
        height : 36px;
        width : 40px;
        position: fixed;
        top : 10px;
        right : 10px;
        z-index: 1000;
        @include flex(column, space-between, center);
        .baton
        {
            height :7px;
            width : 100%;
            background-color: $orange;
        }
    }
    .c
    {
        display: none;
    }
    .menumobile
    {
        display: block;
        position : fixed;
        top : 0;
        left : -140%;
        width : 100%;
        height : 100%;
        background-color: white;
        z-index: 300;
        padding-top: 150px;
        transition: .5s;
        opacity: 0;
        .a
        {
            background-color: rgb(255, 236, 65);
            position : absolute;
            top : 0;
            left : -185%;
            width : 150%;
            height : 100%;
            transform: skew(5deg);
            transition: .6s;
            a
            {
                img
                {
                    display: block;
                    position: absolute;
                    top : 10px;
                    left : 30%;
                    object-fit: contain;
                    height : 80px;
                    z-index: 20;
                    transform: skew(17deg);
                }
            }
            ul
            {
                position: absolute;
                right : 20px;
                top : 140px;
                li
                {
                    list-style-type: none;
                    transform: skew(17deg);
                    text-align: right;
                    margin-bottom: 30px;
                    font-size: 1.2rem;

                    a
                    {
                        color : $black;
                    }
                }
                li:nth-child(1)
                {
                    a
                    {
                        font-weight: bold;
                        padding : 10px 24px;
                        background-color: $orange;
                        border-radius: 25px;
                        color : white;
                    }
                }
                li:nth-child(2), li:nth-child(3)
                {
                    a
                    {
                        font-weight: bold;
                        border-radius: 25px;
                        color : $black;
                    }
                }
                li:nth-child(2)
                {
                    margin-bottom: 10px;
                }
                li:nth-child(3)
                {
                    margin-bottom: 70px;
                }
            }
        }
        .aActive
        {
            left : -60%;
            transform: skew(-17deg);
        }
    }
    .menumobileActive
    {
        left : 0;
        opacity : 1;
    }
    .entete
    {
        height : 100vh;
        background-position: 50%;
        .mobilelogo
        {
            display: block;
            position: absolute;
            top : 10px;
            left : 10px;
            object-fit: contain;
            height : 60px;
            z-index: 20;
        }
        h1
        {
            @include absolute(auto, 80%, 100px, 50%);
            transform: translateX(-50%);
            color : white;
            font-size: 3rem;
            font-weight: 900;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
        }
        .twoBtn
        {
            @include absolute(auto, 100%, 55%, 0);
            @include flex(column, space-evenly, center);
            z-index: 2;
            padding : 0 80px;

            a
            {
                margin-bottom: 50px;
                div
                {
                    position: relative;
                    background-color: $orange;
                    height : 70px;
                    width : 280px;
                    border-radius: 8px;
                    transition: .3s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .5s;
                    overflow: hidden;

                    p
                    {
                        text-align: center;
                        color : white;
                        font-style: italic;
                        font-weight: 600;
                        font-size: 1.4rem;
                        transition: .3s;
                        margin : 0;
                        z-index: 30;
                        position : relative;
                        transition: .3s;
                    }
                }
                div::before
                {
                    content : "";
                    position : absolute;
                    z-index: 0;
                    top : 0;
                    
                    width : 8%;
                    height : 100%;
                    background-color: rgb(255, 202, 57);
                    transform: skew(-17deg);
                }
                div::after
                {
                    content : "";
                    position : absolute;
                    z-index: 0;
                    top : 0;
                    
                    width : 14%;
                    height : 100%;
                    background-color: rgb(255, 202, 57);
                    transform: skew(-17deg);
                }
            }
            a:hover
            {
                text-decoration: none;
            }
        }
        .bandeNoire
        {
            padding : 0 5%;
        }
    }
    .explications
    {
        p:nth-child(2)
        {

            padding :0 8%;

        }
    }
    .besoin
    {
        .ligneBleue
        {
            h3 
            {
                @include absolute(auto, 90%, 50%, 50%);
                font-size: 1.6rem;
                padding : 0 10px;
            }
        }
        .seeAll
        {
            @include absolute(auto, 70%, auto, 50%);
            text-align: center;
        }
    }
    .peutetre
    {
        .ligneBleue
        {
            h3 
            {
                @include absolute(auto, 90%, 50%, 50%);
                font-size: 1.6rem;
                padding : 0 10px;
            }
        }
        .seeAll
        {
            @include absolute(auto, 70%, auto, 50%);
            text-align: center;
        }
    }
}

@media only screen and (max-width: 350px)
{
    .entete
    {
        .twoBtn
        {
            a
            {
                div
                {
     
                    height : 56px;
                    width : 280px;
                   
                }
            }
        }
    }
}